# Application
PORT=3000
NODE_ENV=development

# Database (MongoDB)
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority&appName=MioralaneCluster

# JWT
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=1d
